body {
  margin: 0 auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.main {
  display: flex;
  margin: 0 auto;
  min-height: 100%;
  min-width: 100%;
}

nav {
  display: flex;
  align-items: stretch;
  width: 20vh;
  height: 100vh;
  color: white;
  background-color: #c22177;
}

/* .side-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: stretch;
  width: 100%;
} */

h2 {
  padding-inline: 2%;
}

header {
  display: flex;
  width: 185vh;
  height: 15vh;
  background-color: #111023;
  color: white;
}

.inner-container {
  display: flex;
  min-height: 70vh;
}

footer {
  display: flex;
  width: 185vh;
  height: 15vh;
  background-color: #111023;
  color: white;
}

article {
  display: flex;
  flex-grow: 1;
  margin-top: 0;
  color: #111023;
}

aside {
  color: white;
  background-color: #320388;
  width: 20%;
}
